.load-animation {
  position: fixed;
  margin-top: 25%;
  @include defineSize(200px, 200px);
  @include centerHorizontally();
  background: transparent;
  border: 25px solid $dropdown-color;
  border-right: 25px solid $dark-green;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
