.pantry {
  position: fixed;
  @include centerHorizontally();
  @include cardStyling();
  top: 25%;
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  transition: 1.6s ease;

  #exit-pantry {
    position: absolute;
    top: 0%;
    right: 2%;
    transform: rotate(-120deg);
    font-size: 2em;
    cursor: pointer;
    @include transparentText($dark-green);

    &:hover {
      @include transparentText($accent-secondary);
    }
  }

  .pantry-ingredients {
    position: absolute;
    overflow-y: scroll;
    top: 15%;
    width: 85%;
    height: 60%;
    font-size: 1em;
    padding-left: 5%;
    @include cardStyling()
    @include centerHorizontally()
  }

  h4 {
    align-self: center;
    text-decoration: underline;
    font-size: 3em;
    background-color: transparent;
  }

  .add-ingredient-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    @include centerHorizontally()
  }

  .add-ingredient-form {
    position: fixed;
    bottom: 5%;
    width: 85%;
    @include centerHorizontally()
  }

  .find-recipes-using-pantry-btn  {
    margin-top: 2%;
    @include centerHorizontally()
  }
}

.pantry-hidden {
  position: fixed;
  transition: 1.6s ease;
  display: none;
  top: 50%;
}
